services:
  portfolio:
    image: nginx:alpine
    container_name: yure_portfolio
    restart: unless-stopped
    volumes:
      - ./:/usr/share/nginx/html
    networks:
      - npm

networks:
  npm:
    external: true
